:root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
}

.canvas {
  width: 700px;
  height: 600px;
  background-color: white;
}

.logo {
  height: 3em;
  margin: 1em;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 1em;
}
